[Desktop Entry]
Encoding=UTF-8
Name=SoundStudio
Comment=SOX interface
Exec=/usr/bin/studio
Terminal=false
Icon=mail2.xpm
Type=Application
Categories=Audio;
# vi: encoding=utf-8
