[Desktop Entry]
Name=SoundStudio
Comment=SOX interface
Exec=/usr/bin/studio
Terminal=false
Icon=mail2
Type=Application
Categories=Audio;Recorder;
# vi: encoding=utf-8
